exportPattern("^[[:alpha:]]+")
import(TwoSampleMR)
import(ieugwasr)
import(gwasglue)
import(gwasvcf)
import(magrittr)
import(dplyr)
import(ggplot2)
import(tools)
import(gassocplot)
import(grid)
import(ggrepel)
